body {
  margin: 0px;
}

.width__100 {
  width: 100%;
}

.main__container {
  padding: 0px;
}

.banner__container {
  height: 100vh;
  background-image: url("./assets/images/download.webp");
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
}

.header__links {
  width: 40%;
}

.header__link {
  font-size: 20px;
  text-decoration: none;
}

.link__white {
  color: #ffffff;
}

.link__dark {
  color: #000000;
}

.header__btn {
  font-size: 20px;
  text-decoration: none;
  background-color: transparent;
  width: 100px;
  border-radius: 5px;
  height: 40px;
}

.header__btn__white {
  color: #ffffff;
  border: 1px solid #ffffff;
}

.header__btn__dark {
  color: #000000;
  border: 1px solid #000000;
}

.banner__box {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.banner__box__header {
  font-size: 80px;
  color: #ffffff;
  height: 300;
  margin-top: "30px";
  margin-bottom: "0px";
}

.banner__box__subtitle {
  font-size: 50px;
  color: #ffffff;
}

.banner__filter__box {
  padding: 20px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
}

.filter__form__input {
  width: 24%;
}

.filter__form__input:focus {
  border-color: lightgray;
}

.filter__label {
  font-size: 22px;
  color: rgb(87, 85, 85);
}

.filter__input {
  padding: 10px;
  box-sizing: border-box;
  border-radius: 4px;
  border-color: lightgray;
  background-color: white;
  outline: none;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.justify__between {
  justify-content: space-between;
}

.justify__around {
  justify-content: space-around;
}

.items__center {
  align-items: center;
}

.items__end {
  align-items: end;
}

.align__center {
  text-align: center;
}

.flex__wrap {
  flex-wrap: wrap;
}

.filter__search__btn {
  background: linear-gradient(90deg, #ff594c 0%, #fac527 100%);
  width: 24%;
  height: 39.61px;
  border-radius: 6px;
  outline: 0px;
  box-shadow: none;
  border: 0px;
  font-size: 18px;
  color: #ffffff;
}

.forth__card {
  bottom: -5% !important;
}

.explore__card {
  width: 48%;
  position: relative;
  margin-bottom: 100px;
}

.explore__cards__box {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.explore__cards__box img {
  width: 100%;
}

.explore__card__bottom__box {
  width: 70%;
  border-radius: 10px;
  padding: 10px 20px;
  background: linear-gradient(
    94.33deg,
    rgba(255, 255, 255, 0.6) 3.19%,
    rgba(255, 255, 255, 0.1) 99.26%
  );
  position: absolute;
  bottom: -10%;
  left: 50%;
  transform: translate(-50%, -10%);
}

.explore_card_chips_sm {
  background: linear-gradient(90deg, #ff594c 0%, #fac527 100%);
  padding: 10px 20px;
  border-radius: 8px;
}

.explore_card_chip_lg {
  background: linear-gradient(90deg, #ff594c 0%, #fac527 100%);
  padding: 15px 25px;
  border-radius: 8px;
  height: 50px;
  box-sizing: border-box;
  font-size: 20px;
}

.min__height__70vh {
  min-height: 80vh;
  height: max-content;
}

.card__title {
  font-size: 30px;
  font-weight: bold;
  margin: 0px;
}

.card__subtitle {
  font-size: 20px;
  margin: 0px;
}

.card__left__title__box {
  width: 50%;
}

.explore__cards__title {
  font-size: 100px;
  margin: 0px;
  font-weight: bold;
}

.explore__cards__subtitle {
  font-size: 22px;
  margin-bottom: 20px;
}

.margin__top__30 {
  margin-top: 30px;
}

.banner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fa-bars {
  display: none;
}

.links__header {
  display: flex;
}

.links__footer {
  display: flex;
}

@media screen and (max-width: 1612px) {
  .banner__box__header {
    height: auto;
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 1100px) {
  .banner__box__header {
    font-size: 80px;
    height: auto;
    margin-bottom: 0px;
    margin-top: 15px;
  }
  .banner__box__subtitle {
    font-size: 40px;
  }

  .banner__container {
    height: 85vh;
  }

  .banner__filter__box {
    flex-direction: column;
  }

  .filter__form__input {
    width: 100%;
  }

  .filter__search__btn {
    width: 100%;
    margin-top: 20px;
  }

  .filter__label {
    margin-top: 20px;
  }

  .explore__card {
    width: 100%;
  }
}

@media screen and (max-width: 870px) {
  .banner__container {
    height: 85vh;
  }

  .banner__box__header {
    font-size: 60px;
  }
}

@media screen and (max-width: 600px) {
  .banner__container {
    height: 80vh;
  }

  .banner__box {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .banner__box__header {
    font-size: 40px;
  }

  .banner__box__subtitle {
    font-size: 25px;
  }

  .explore__cards__title {
    font-size: 60px;
  }

  .forth__card {
    bottom: -10%;
  }

  .card__left__title__box {
    width: 60%;
  }
}

@media screen and (max-width: 1000px) {
  .header__links {
    flex-direction: column;
    align-items: flex-start;
  }

  .header__link {
    margin-bottom: 15px;
  }

  .fa-bars {
    display: block;
    color: #ffffff;
    font-size: 30px;
  }

  .links__header {
    display: none;
  }

  .links__footer {
    display: flex;
  }
}
